body {
    /*text-align: center;*/
    background: aliceblue;
}

#content {
    /*text-align: left;*/
    width: 800px;
    margin: 0 auto;
}

a:hover{
    border: 1px solid blue;
}

.required {
    color: red;
}

.emailExiErrorError {
    color: red;
}
.emailDoesentExistErrorErrorError {
    color: red;
}