<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Welcome to the amazing website where dreams come true!</h1><br>


<form method="POST" action="/createUser">
    <h3>Create a user:</h3>
    <label for="name">Please enter your name</label><br>
    <input type="text" name="name" id="name" required placeholder="Full Name"><br><br>
    <label for="email">Please enter your e-mail</label><br>
    <input type="text" name="email" id="email" pattern=".*[@]+.*" required placeholder="E-mail"/><br><br>

    <input type="submit" value="Create">
<div class="error" th:if="${existingEmail != null}" role="alert">Email already exists</div>
</form>
<br><br>
<form method="GET" action="/myWishlists">
    <h3>Log-in</h3>
    <label for="emailLog">Please enter your e-mail</label><br>
    <input type="text" name="email" id="emailLog" pattern=".*[@]+.*" required placeholder="E-mail"/><br><br>
    <input type="submit" value="Login">
<div class="error" th:if="${notExistingEmail != null}" role="alert">Email doesen't exist</div>
</form>
<br><br>
<form method="POST" action="/findWishlistAsGuest">
    <h3>Find a wishlist:</h3>
    <label for="listId">Please enter list id</label><br>
    <input type="number" name="listID" id="listID" required placeholder="List ID"><br><br>
    <input type="submit" value="Find">
    <div class="error" th:if="${listIDNonExisting != null}" role="alert">This wishlist doesen't exist</div>
</form>

</body>
</html>