<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Wishlist</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<button onclick="history.back()" class="backButton">Back</button>
<br><br>
<div class="createNewGift">
<form method="POST" action="/myGifts/newGift">
    <h4>Create a wish:</h4>
    <label for="name">Please enter the item name</label><br>
    <input type="text" name="name" id="name" required placeholder="Item Name"/><span class="required"> *</span><br>
    <label for="price">Please enter the price of the item</label><br>
    <input type="number" name="price" id="price" required placeholder="Price"><br>
    <label for="link">Please enter the link of the item</label><br>
    <input type="text" name="link" id="link" required placeholder="Link"><br><br>
    <input type="submit">
    <input type="hidden" name="oldListID" th:value="${oldListID}">
</form>
</div>

<a th:href="'/shareGifts?listID=' + ${oldListID}" class="shareLink">share link</a>

<br><br>
<div class="wishes">
    <table id="savedGifts">
        <tr class="header">
            <th>Gift</th>
            <th>Price</th>
            <th>Link</th>
            <th>Delete</th>
        </tr>
        <tr th:each="gift: ${gifts}">
            <td th:text="${gift.giftName}"/>
            <td th:text="${gift.price}"/>
            <td>
                <a style="width: 100%" th:href="${gift.url}" th:text="${gift.url}" th:target="${gift.url}"/>
            </td>
            <td>
                <form method="POST" action="/myGifts/deleteGift">
                    <input type="hidden" name="giftID" th:value="${gift.giftID}">
                    <input type="hidden" name="oldListID" th:value="${oldListID}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>