<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Wishlist</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>


<button onclick="history.back()">Back</button>


<form method="POST" action="/myGifts/newGift">
    <h4>Create a wish:</h4>
    <label for="name">Please enter the item name</label><br>
    <input type="text" name="name" id="name" required/><span class="required"> *</span><br>
    <label for="price">Please enter the price of the item</label><br>
    <input type="number" name="price" id="price" required><br>
    <label for="link">Please enter the link of the item</label><br>
    <input type="text" name="link" id="link" required><br><br>
    <input type="submit">
    <input type="hidden" name="oldListID" th:value="${oldListID}">
</form>

<a th:href="'/shareGifts?listID=' + ${oldListID}">share link</a>

<br><br>
<div class="wishes">
    <table>
        <tr th:each="gift: ${gifts}">
            <td th:text="${gift.giftName}"/>
            <td th:text="${gift.price}"/>
            <td>
                <a th:href="${gift.url}" th:text="${gift.url}" th:target="${gift.url}"/>
            </td>
            <td>
                <form method="POST" action="/myGifts/deleteGift">
                    <input type="hidden" name="giftID" th:value="${gift.giftID}">
                    <input type="hidden" name="oldListID" th:value="${oldListID}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>