<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Wishlist</title>
</head>
<body>

<form method="POST" action="/createGift">
    <h4>Create a wish:</h4>
    <label for="name">Please enter the item name</label><br>
    <input type="text" name="name" required/> <br>
    <label for="price">Please enter the price of the item</label><br>
    <input type="number" name="price" id="price"><br>
    <label for="link">Please enter the link of the item</label><br>
    <input type="text" name="link" id="link"><br><br>
    <input type="submit">
</form>

</body>
</html>