<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/createWishlist">
    <h4>Create a wishlist:</h4>
    <label for="name">Please enter the name of your wishlist</label><br>
    <input type="text" name="name" id="name" required/> <br>
    <input type="submit">
</form>
<br><br>
<form method="post" action="/findMyWishlist">


    <button class="wishlist" role="button" type="submit" name="wishlist"> </button>
    <table>
            <tr th:each="list: ${giftLists}">
                <td th:text="${list.listName}"/>
                <td><input type="submit" value="Edit"></td>
            </tr>
    </table>
</form>

</body>
</html>