<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>my wishlists</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<div class="content">
    <form method="post" action="/myWishlists/newWishlist">
        <h4 th:text="'Wishlists for ' + ${email}"></h4>
        <h4>Create a wishlist:</h4>
        <label for="listName">Please enter the name of your wishlist</label><br>
        <input type="text" name="listName" id="listName" required/> <br>
        <input type="submit">
        <input type="hidden" name="email" th:value="${email}">
    </form>

    <br><br>

    <table>
        <tr>
            <th>List</th>
        </tr>
        <tr th:each="giftlist: ${giftLists}">

            <td th:text="${giftlist.listName}"/>
            <td></td>
            <td>
                <form method="POST" action="/myWishlists/editList">
                    <input type="submit" value="Edit">
                    <input type="hidden" name="listID" th:value="${giftlist.listID}">
                </form>
            </td>
            <td></td>
            <td>
                <form method="POST" action="/myWishlists/deleteGiftList">
                    <input type="submit" value="Delete">
                    <input type="hidden" name="listID" th:value="${giftlist.listID}">
                    <input type="hidden" name="email" th:value="${email}">
                </form>
            </td>

        </tr>
    </table>
</div>

</body>
</html>